body {
display: grid;
grid-template-columns: 70% 30%;
gap: 10px;
background-color: aliceblue;
} 

header {
    grid-column: 1/-1;
}

nav {
    grid-column: 2/-1;
}

.search-container {
    grid-column: 2/-1;
}

.covid-restriction {
    grid-row-start: 2;
    grid-row-end: 3;
}
header a {
    display: grid;
    color: #123;
    font-family: "Courier New", Courier, monospace;
    font-weight: 200;
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
  }
  header a:hover {
    font-weight:bold ;
    color: rgb(62, 90, 118);
  }

  img {
    width: 30%;
    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: linear;
  }
  
  img:hover {
    width: 50%;
  }
  